.title-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-size: 60px;
    margin-bottom: .75rem;
    font-weight: 800;
    color: hsl(250, 8%, 15%);
}

.container-contact {
    height: 50vh;
    display: flex;
    width: 100%;

}

.options-contact {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    font-size: 25px;
    margin-bottom: .75rem;
    font-weight: 800;
    color: hsl(250, 8%, 15%);

}

.whatsapp-icon {
    width: 60px;
    height: 60px;
    margin-left: 10px;
    margin-top: 10px;
}



.form-contact {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;

}





@media (max-width: 1200px) {}

@media (max-width: 800px) {

    .container-contact {
        display: block;
        flex-wrap: wrap;
        flex-direction: column;
        height: auto;

    }


}

@media (max-width: 340px) {}