.section-contact-container{
display: flex;
align-items: center;
justify-content: center;
min-height: 100vh;

}

.title-contact {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 60px;
    margin-bottom: .75rem;
    font-weight: 800;
    color: hsl(250, 8%, 15%);
    font-family: 'PT Sans', sans-serif;
}

.container-contact {

    display: flex;
    width: 100%;


}

.options-contact {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   margin-right: 30px;
    font-size: 25px;
    font-weight: 400;
    color: hsl(250, 8%, 15%);
    font-family: 'PT Sans', sans-serif;

}

.whatsapp-icon {
    width: 60px;
    height: 60px;
    margin-left: 10px;
    margin-top: 10px;
}



.form-contact {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin-left: 30px;

}




@media (max-width: 1200px) {
    .title-contact {

        font-size: 45px;

        font-weight: 800;

    }

    .options-contact {

        font-size: 18px;
 
    
    }
    .whatsapp-icon {
        width: 35px;
        height: 35px;

    }
}

@media (max-width: 800px) {

    .container-contact {
        display: block;
        flex-wrap: wrap;
        flex-direction: column;
        height: auto;

    }
    .options-contact {

       margin-right: 0px;

    
    }
    

    
    
    .form-contact {

        margin-left: 0px;
    
    }


}

@media (max-width: 340px) {}

