.section-about-container{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}


.container-about {

    display: flex;
    margin-bottom: 15%;
    
}

.tittle-about{
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-padding-top: 2rem;
}

.tittle-about h1 {
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    font-size: 60px;
    margin-bottom: .75rem;
    font-weight: 800;
    color: hsl(250, 8%, 15%);
}

.container-about h3 {
    font-family: 'PT Sans', sans-serif;
    font-size: 25px;
    margin: 0;
    color: hsl(250, 8%, 45%);
    font-weight: 400;
    margin-bottom: .75rem;
}


.photo-about {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: right;
}

.photo-about img {
    width: 250px;
    max-height: 600px;
    border-radius: 5px;

}

.description-about {

    flex-direction: column;
    flex: 1;
    margin-top: 60px;

}

.description-about h1 {
    justify-content: left;
}




.button-about {

    background-color: hsl(250, 69%, 61%);
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 25px;
    justify-self: auto;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.icon-download {
    width: 50px;
    height: 50px;

}






@media (max-width: 1200px) {

    .container-about {
        flex-direction: column-reverse;
        flex-wrap: wrap-reverse;
        margin-left: 10%;
        margin-right: 10%;
        justify-content: center;
        text-align: center;

    }

    .button-about-container {
        display: flex;
        justify-content: center;
        margin-bottom: 5%;
    }
    .photo-about img {
        margin-top: 30px;
        box-shadow: none;
        max-width: 150px;
   
    }
    .tittle-about h1 {
 
        font-size: 45px;
        font-weight: 800;

    }

    .container-about h3 {

        font-size: 18px;
  
    }

    .button-about {


        font-size: 18px;

    
    }

    .icon-download {
        width: 35px;
        height: 35px;
    
    }

    .photo-about {

        justify-content: center;
    }
    
    

}

@media (max-width: 800px) {


    .photo-about img {
        margin-top: 30px;
        box-shadow: none;
    }




}



@media (max-width: 340px) {


}