

.header-navbar {
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: white;
    -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.21);
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.21);
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu-logo {
    
    display: none;   
        height: 20px;
        width: 25px;
        cursor: pointer;
    
}

.menu-navbar-container {


    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;



}
#logo{
    height: 40px;
}


li {
    font-family: 'PT Sans', sans-serif;
    display: inline;
    padding: 10px;
    font-size: 25px;
    cursor: pointer;
}

#homeLi {
    display: none;
}


.header-navbar a {
    text-decoration: none;
    color: #454545;

}






.header-navbar a.active {
    text-decoration: none;
    color: hsl(250, 69%, 61%);
   
}


.header-navbar label {
    display: none;
  
}

.header-navbar input {
    display: none;
}

ul{
    padding: 0;
}


@media(max-width: 1200px) {

    .header-navbar {
        justify-content: space-between;
        
    }

    .menu-navbar-container {


    margin-left: 10%;
    margin-right: 10%;
    
    
    
    }

    .submenu-navbar2 {

        position: absolute;
        width: 100%;
        background: hsl(0, 100%, 100%);
        left: 0%;
        text-align: center;
        transition: all .5s;
        box-shadow:
            0 10px 10px rgba(0, 0, 0, 0.22);
        z-index: 4;
        margin-top: 0px;
        border-radius: 5px;
 
   
    }

    .submenu-navbar {

        position: absolute;
        width: 100%;
        background: hsl(0, 100%, 100%);
        left: -150%;
        text-align: center;
        transition: all .5s;
        box-shadow:
            0 10px 10px rgba(0, 0, 0, 0.22);
        z-index: 4;
        margin-top: 0px;
  
   
    }

    #logo {
        display: none;
    }

    #homeLi {
        display: block
    }


    .header-navbar label {
        display: block;
        float: inline-start;
    }

    .header-navbar a {
        margin: none;
    }

   li {
        display: list-item;
        padding-top: 1%;
        padding-bottom: 1%;
        font-size: 20px;
    }

    .logo-navbar {
        display: none;
    }

    .menu-logo {
    
        display: block;   
  
        
    }
    



   
}

/* .navbar-container {
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: white;
    -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.21);
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.21);


}

.menu-navbar-container {


    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;



}

.logo-container {
    justify-content: flex-start;

}

.logo {

    height: 40px;
}

.menu-list {
    justify-content: flex-end;
}

.li-navbar {
    font-family: 'PT Sans', sans-serif;
    display: inline;
    padding: 10px;
    font-size: 25px;


}

.a-navbar {
    list-style: none;
    text-decoration: none;


}

.li-navbar a {
    cursor: pointer;
}

.menu-logo{
    display: none;
    height: 25px;
    width: 30px;
}
#check:checked+.logo {
    display: none;

 }

@media (max-width: 1200px) {
    .menu-navbar-container {

        width: none;
        margin-left: 10%;
        margin-right: 10%;
       
        

    }

    .navbar-container {
        display: flex;
        justify-content: center;
        position: fixed;
        z-index: 2;
        background-color: white;
        width: 100%;


    }




}

@media (max-width: 800px) {
    .menu-navbar-container {
        justify-content: center;
        z-index: 1;


    }

    .li-navbar {

        padding: 5px;
        font-size: 20px;
    }

    ul {
        padding-inline-start: 0px;
    }

    .logo {
        display: none;
    }

}



@media (max-width: 450px) {

    
    .logo-container {
       display: flex;
    
    
    }
    .li-navbar {
        display: none;}

    .menu-logo{
        display: flex;
        margin-left: 130px;
 
    }
    .logo {
        
        display: flex;
        width: 50px;
        height: 25px;
    }
    
    .menu-navbar-container {
   
        width: 100%;
        margin-bottom: 4%;
        margin-top: 4%;



    }

   
 
} */