.section-presentation-container{

    display: flex;
    align-items: center;
    min-height: 100vh;
}
.presentation-container {
    height: 100vh;
    display: flex;


}

.presentation-description {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;

}

.presentation-description h1 {
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    font-size: 70px;
    margin-bottom: .75rem;
    font-weight: 800;
    color: hsl(250, 8%, 15%);

}

.presentation-description h3 {
    font-family: 'PT Sans', sans-serif;
    font-size: 35px;
    margin: 0;
    font-weight: 500;
    margin-bottom: .75rem;
    color: hsl(250, 8%, 15%);
}

.presentation-description h4 {
    font-family: 'PT Sans', sans-serif;
    font-size: 28px;
    margin: 0;
    color: hsl(252, 2%, 40%);
    font-weight: 400;
    margin-bottom: .75rem;
}

.presentation-description button {
    justify-self: auto;
    border-radius: 5px;
}

.icon-presentation {
    width: 40px;
    height: 40px;
}



.presentation-emoji {
    display: flex;
    flex: 1;
    justify-content: right;
    align-items: center;
}

.button-presentation {
    display: inline-block;
    background-color: hsl(250, 69%, 61%);
    color: #fff;
    padding: 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 18px;

}


@media (max-width: 1200px) {

    .presentation-container {

        margin-left: 10%;
        margin-right: 10%;

    }
    .presentation-description h1 {

        font-size: 45px;
        font-weight: 800;
   
    
    }
    .presentation-description h3 {
        font-size: 25px;
        font-weight: 500;

    }
    .presentation-description h4 {

        font-size: 18px;
        font-weight: 400;

    }
    .presentation-emoji {
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .presentation-emoji-size {
       
        max-width: 200px;
        margin-bottom: 40%;
    }
}

@media (max-width: 800px) {

    .presentation-container {
        display: block;
        padding-top: 18%;
        justify-content: center;
        text-align: center;
        height: auto;
        margin-left: 10%;
        margin-right: 10%;
    }







}

@media (max-width: 340px) {
    .presentation-container {
        display: block;
        flex-wrap: wrap;
        padding-top: 20%;
        justify-content: center;
        text-align: center;
        height: auto;
    }

}